<?xml version="1.0" encoding="utf-8"?>
<Events>
	<EventData>
		<Id>1</Id>
		<Title>Titre de l'évènement</Title>
		<Lore>Un passeur vous propose un raccourcis pour 3 morceaux de viande.</Lore>
		<Type>RessourceEvent</Type>
		<Choices>
			<Choice>
				<Intitulate>Accepter</Intitulate>
				<Type>Random</Type>
				<Feedback>Vous acceptez l'offre du passeur, il vous guide à travers un passage isolé. Vous gagnez du temps, ils ne trouverons pas ce chemin.</Feedback>
				<Time>8</Time>
				<Meat>-5</Meat>
			</Choice>
			<Choice>
				<Intitulate>Refuser</Intitulate>
				<Type>Random</Type>
				<Feedback>Vous refusez l'offre du passeur, la viande est trop importante pour vos filles.</Feedback>
			</Choice>
		</Choices>
	</EventData>

	<EventData>
		<Id>2</Id>
		<Title>Titre de l'évènement 2</Title>
		<Lore>Un passeur vous propose un raccourcis pour 8 morceaux de bois.</Lore>
		<Type>RessourceEvent</Type>
		<Choices>
			<Choice>
				<Intitulate>Accepter</Intitulate>
				<Type>Random</Type>
				<Feedback>Vous acceptez l'offre du passeur, il vous guide à travers un passage isolé. Vous gagnez du temps, ils ne trouverons pas ce chemin.</Feedback>
				<Time>4</Time>
				<Wood>-8</Wood>
			</Choice>
			<Choice>
				<Intitulate>Refuser</Intitulate>
				<Type>Random</Type>
				<Feedback>Vous refusez l'offre du passeur.</Feedback>
			</Choice>
		</Choices>
	</EventData>

	<EventData>
		<Id>3</Id>
		<Title>vous trouvez un coin tranquille</Title>
		<Lore>Vous vous arrêtez devant une clairière, le coin n'à pas l'air trop dangereux.</Lore>
		<Type>FindCampement</Type>
		<Choices>
			<Choice>
				<Intitulate>Établir un feu de camp</Intitulate>
				<Type>Campement</Type>
				<Feedback>Vous décidez de vous installer ici, le temps de vous reposer.</Feedback>
				<Time>4</Time>
				<Wood>-8</Wood>
			</Choice>
			<Choice>
				<Intitulate>Continuer à avancer</Intitulate>
				<Type>Random</Type>
				<Feedback>Vous continuez votre chemin.</Feedback>
			</Choice>
		</Choices>
	</EventData>
</Events>
