<?xml version="1.0" encoding="utf-8"?>
<Events>
	<EventData>
		<Id>1</Id>
		<Title>Another One Bites</Title>
		<Lore>Une de vos filles revient la jambe blessé. Elle à été mordu par un loup.</Lore>
		<Type>Moral</Type>
		<Value>999</Value>
		<Rarity>Often</Rarity>
		<Goodness>Neutral</Goodness>
		<Choices>
			<Choice>
				<Intitulate>Passer</Intitulate>
				<Type>Campement</Type>
				<Feedback>Avec une jambe dans cette état, vous préfèrez vous arretez imédiatement à un campement.</Feedback>
			</Choice>
		</Choices>
	</EventData>

	<EventData>
		<Id>2</Id>
		<Title>Another One Bites</Title>
		<Lore>Une de vos filles revient la jambe blessé. Elle à été mordu par un loup.</Lore>
		<Type>Moral</Type>
		<Value>999</Value>
		<Rarity>Often</Rarity>
		<Goodness>Neutral</Goodness>
		<Choices>
			<Choice>
				<Intitulate>Passer</Intitulate>
				<Type>Campement</Type>
				<Feedback>Avec une jambe dans cette état, vous préfèrez vous arretez imédiatement à un campement.</Feedback>
			</Choice>
		</Choices>
	</EventData>

</Events>
